<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>ADD</title>
  </head>

  <body>

  {% load crispy_forms_tags %}


    <div class="container">

      <a href = "{% url 'index' %}" class="btn btn-warning mb-4">Strona główna</a>

      <h4 class="mb-4">Dodaj książkę / modyfikuj dane:</h4>

      <div class="row">
        <div class="col-md-8">
          <div class="card border-warning mb-4">
            <div class="card-header fw-bold">Wprowadź dane nowej pozycji:</div>
            <div class="card-body">
              <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-2">
                      {{ autor_form|crispy }}
                    </div>
                    <div class="mb-3">
                      {{ book_form.tytuł|as_crispy_field }}
                    </div>
                    <div>
                      {{ book_form.data_publikacji|as_crispy_field }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      {{ book_form.numer_isbn|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                      {{ book_form.liczba_stron|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                      {{ book_form.link_do_okładki|as_crispy_field }}
                    </div>
                    <div class="mb-4">
                      {{ book_form.język_publikacji|as_crispy_field }}
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <button type="submit" class="btn btn-warning">Zapisz</button>
          </div>
        </div>
      </div>


    </div>

  </body>
</html>
