{% extends "books/base.html" %}
{% block content %}

{% load crispy_forms_tags %}


      <h4 class="mb-4">Dodaj książkę / modyfikuj dane:</h4>

      <div class="row">
        <div class="col-md-8">
          <div class="card border-warning mb-4">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="card-header fw-bold">Wprowadź dane nowej pozycji</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      {{ autor_form|crispy }}
                    </div>
                    <div class="mb-3">
                      {{ book_form.tytuł|as_crispy_field }}
                    </div>
                    <div>
                      {{ book_form.data_publikacji|as_crispy_field }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      {{ book_form.numer_isbn|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                      {{ book_form.liczba_stron|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                      {{ book_form.link_do_okładki|as_crispy_field }}
                    </div>
                    <div class="mb-4">
                      {{ book_form.język_publikacji|as_crispy_field }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <button type="submit" class="btn btn-warning">Zapisz</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>



{% endblock %}
