{% extends "books/base.html" %}
{% block content %}

{% load crispy_forms_tags %}


  <h4 class="mb-4">Zaimportuj książki:</h4>
  <div class="row">
    <div class="col-md-5">
      <div class="card border-warning mb-4">
        <div class="card-header fw-bold">Wprowadź słowo kluczowe, aby zaimportować pozycje z API</div>
        <div class="card-body">
          <form action = "" method = "POST">
          <div class="row mb-4">
            {% csrf_token %}
            <div class="col-md-8">
              {{ form|crispy }}
            </div>
            <div class="col-md-4 text-center">
              <button type="submit" class="btn btn-warning">Dodaj</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
