<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>SHOW</title>
  </head>

  <body>

  {% load my_tags %}
  {% load crispy_forms_tags %}

    <div class="container">

      <a href = "{% url 'index' %}" class="btn btn-warning mb-4">Strona główna</a>

      <h4 class="mb-4">Wyszukaj książki:</h4>

      <div class="card border-warning mb-4">
        <form action="" method="GET">
          <div class="card-header fw-bold">Wprowadź filtry do wyszukiwania:</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  {{ filter.form.title|as_crispy_field }}
                </div>
                <div>
                  {{ filter.form.author|as_crispy_field }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  {{ filter.form.język_publikacji|as_crispy_field }}
                </div>
                <div>
                  {{ filter.form.numer_isbn|as_crispy_field }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  {{ filter.form.start_date|as_crispy_field }}
                </div>
                <div>
                {{ filter.form.end_date|as_crispy_field }}
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <button type="submit" class="btn btn-warning">Wyszukaj</button>
          </div>
        </form>
      </div>


      <h4 class="mb-4 mt-4">Lista wyszukanych książek ({{ filter.qs.count }}):</h4>
      {% include "books/table.html" %}

      {% if is_paginated %}
      <div class="pagination justify-content-center my-5">
        <span class="page-links">
            {% if page_obj.has_previous %}
              <a href="?{% param_replace page=page_obj.previous_page_number %}">Poprzednia strona</a>
            {% endif %}
            <span class="page-current">
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
              <a href="?{% param_replace page=page_obj.next_page_number %}">Następna strona</a>
            {% endif %}
        </span>
      </div>
      {% endif %}



    </div>

  </body>
</html>
