{% extends "books/base.html" %}
{% block content %}


{% load my_tags %}
{% load crispy_forms_tags %}



      <h4 class="mb-4">Wyszukaj książki:</h4>

      <div class="card border-warning mb-4">
        <form action="" method="GET">
          <div class="card-header fw-bold">Wprowadź filtry do wyszukiwania</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  {{ filter.form.title|as_crispy_field }}
                </div>
                <div>
                  {{ filter.form.author|as_crispy_field }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  {{ filter.form.język_publikacji|as_crispy_field }}
                </div>
                <div>
                  {{ filter.form.numer_isbn|as_crispy_field }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  {{ filter.form.start_date|as_crispy_field }}
                </div>
                <div>
                {{ filter.form.end_date|as_crispy_field }}
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <button type="submit" class="btn btn-warning">Wyszukaj</button>
          </div>
        </form>
      </div>


      <h4 class="mb-4 mt-4">Lista wyszukanych książek ({{ filter.qs.count }}):</h4>
      {% include "books/table.html" %}

      {% if is_paginated %}
      <div class="pagination justify-content-center my-5">
        <span class="page-links">
            {% if page_obj.has_previous %}
              <a href="?{% param_replace page=page_obj.previous_page_number %}">Poprzednia strona</a>
            {% endif %}
            <span class="page-current">
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
              <a href="?{% param_replace page=page_obj.next_page_number %}">Następna strona</a>
            {% endif %}
        </span>
      </div>
      {% endif %}



{% endblock %}
